<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryEntities" connectionString="metadata=res://*/Library.csdl|res://*/Library.ssdl|res://*/Library.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Projects\Wrox ASP.NET Design Patterns\ASPPatterns.Chap7.Library\ASPPatterns.Chap7.Library.UI.Web\App_Data\Library.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>